
body {
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 0;
    background-color: #f8f9fa; 
    color:#f8f9fa ; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex; 
    justify-content: center;
    border: 4px solid black;
    width:60%; 
    height: 80%;
}
.passportphoto{
    height: 180px ; 
    width:160px;
    border-radius: 50%;
    border: 4px solid #f6fff8;
}
.title{
    color:#22333b ;
    background-color: #f6fff8;
    margin-left: 10px;
    width: 80%;
    text-indent: 70px;
}
.first{
    flex:1; 
    background-color: #22333b;
}
.second{
    color: black;
    flex:2;
    background-color: #f6fff8;
}

.links, .links:link, .links:visited {
    text-decoration: none;
    color: #f8f9fa;
}
.links:hover {
    text-decoration: underline;
    color: #e4c1f9;
}
p{
    text-indent: 10px;
}
ul.skills li::marker {
    color: #f6fff8;
}
ul.languages li::marker {
    color: #f6fff8;
}
ul.hobbies li::marker {
    color: #f6fff8;
}
.contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 0.3;
}

ul li{
    font-weight: 500;
}
.image{
    margin-left: 40px;
}
.second-header{
    margin-top: 10px;
    text-align: center;
}
h2{
    line-height: 0.3;
}

.second-title{
    color:#f8f9fa ;
    background-color: #22333b;
    margin-left: 10px;
    width: 60%;
    text-indent: 70px;   
}

.project-title{
    margin-left: 20px;
}

.project-contents li{
  margin: 10px 0;
}

ul.contact-details li {
    list-style-type: none;
    margin-left: 0px;
}
.experience{
    margin-left: 20px;
}

ul.experience-contents li {
    margin: 10px 0;
}

