@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --primary : #081b29;
    --text: #ededed;
    --secondary:#00abf0;   
}

*{
    margin: 0; 
    padding: 0;
    font-family: 'Poppins',sans-serif; 
    box-sizing: border-box;
}

body{
    background : var(--primary);
    color: var(--text);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 20px 10%;
}

.logo a{
    text-decoration: none; 
    color: var(--text);
    font-size: 25px;
    font-weight: 600;
}

.nav-bar a{
    text-decoration: none; 
    color: var(--text); 
    margin-left: 35px;
    font-size: 18px ; 
    font-weight: 500; 
}

.nav-bar a.active , .nav-bar a:hover{
    color: var(--secondary);
    transition: 0.5s;
}

.home{
    height: 100vh; 
    display: flex;
    align-items: center;
    padding: 10px 10%;

}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-weight: 700; 
    font-size: 56px; 
    line-height: 1.2;
}

.home-content h3{
    color: var(--secondary); 
    font-size: 32px;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px; 
}

.btn-box {
    display:flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
}

.btn-box a   {
    display: inline-flex;
    justify-content: center;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    width: 150px;
    height: 100%;
    padding: 10px;
    text-decoration: none; 
    color: var(--primary);
    background: var(--secondary);
} 

.btn-box a:nth-child(2){
    color: var(--secondary);
    background: transparent;
}

.btn-box a:hover{
    color: var(--secondary); 
    background: var(--primary);
    transition: 0.5s;
}

.btn-box a:hover:nth-child(2){
    color:var(--primary);
    background: var(--secondary);
}
.socials{
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: transparent;
}

.socials a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 40px;
    height: 40px;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
}

.socials a:hover{
    transform: scale(1.2);
    background:var(--secondary);
    color: var(--primary);
}