@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --primary : #081b29;
    --text: #ededed;
    --secondary:#00abf0;   
}

*{
    margin: 0; 
    padding: 0;
    font-family: 'Poppins',sans-serif; 
    box-sizing: border-box;
}

body{
    background : var(--primary);
    color: var(--text);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 20px 10%;
}

.logo a{
    text-decoration: none; 
    color: var(--text);
    font-size: 25px;
    font-weight: 600;
}

.nav-bar a{
    text-decoration: none; 
    color: var(--text); 
    margin-left: 35px;
    font-size: 18px ; 
    font-weight: 500; 
}

.nav-bar a.active , .nav-bar a:hover{
    color: var(--secondary);
    transition: 0.5s;
}

.home{
    height: 100vh; 
    display: flex;
    align-items: center;
    padding: 10px 10%;

}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-weight: 700; 
    font-size: 56px; 
    line-height: 1.2;
}

.home-content h3{
    color: var(--secondary); 
    font-size: 32px;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px; 
}

.btn-box {
    display:flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
}

.btn-box a   {
    display: inline-flex;
    justify-content: center;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    width: 150px;
    height: 100%;
    padding: 10px;
    text-decoration: none; 
    color: var(--primary);
    background: var(--secondary);
} 

.btn-box a:nth-child(2){
    color: var(--secondary);
    background: transparent;
}

.btn-box a:hover{
    color: var(--secondary); 
    background: var(--primary);
    transition: 0.5s;
}

.btn-box a:hover:nth-child(2){
    color:var(--primary);
    background: var(--secondary);
    transition: 0.5s;
}
.socials{
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: transparent;
}

.socials a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 40px;
    height: 40px;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin-left: 5px;
}

.socials a:hover{
    transform: scale(1.2);
}

.about{
    height: 100vh;
    padding: 10px 10%;
    display: flex;
    align-items: center;
}

.about-content{
    max-width: 600px;
    
}

.about-content h1{ 
    font-size: 56px; 
    font-weight: 600;
    color: var(--secondary);
}
.about-content p {
    font-size: 16px; 
    margin: 20px 0;
}

#project{

    padding: 10% 20px;
}
#project h1{
    padding: 10px 0px 10px 300px;
    color: var(--secondary);
}
.project-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background:transparent;
    justify-content: center;
    align-items: center;
}


.card{
    max-width: auto;
    max-height: auto;
    margin: 20px;
    background: var(--primary);
    border: 4px solid var(--secondary);
    padding: 20px 25px;
    border-radius: 8px;
}
.project-subtitle{
    display: flex;
    justify-content: space-between;
}

.project-subtitle a{
    border: 2px solid var(--secondary);
    padding: 5px 10px;
    text-decoration: none;
    background: var(--secondary);
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}
.project-subtitle a:hover{
    color: var(--secondary);
    background: var(--primary);
}

.project-subtitle h4{
    color: var(--secondary);
    font-size: 20px;
}
.project-title{
    font-weight: 700;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 171, 240, 0.4);
    transition: 0.3s;

}

ul li{
    padding: 10px;

}

ul li::marker{
    color: var(--secondary);
}